/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.main-content.home-page {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48beff+0,48beff+29,3dfaff+100 */
  background: #48beff;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #48beff 0%, #48beff 29%, #3dfaff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #48beff 0%, #48beff 29%, #3dfaff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #48beff 0%, #48beff 29%, #3dfaff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48beff', endColorstr='#3dfaff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
.main-content.home-page h3 {
  color: white;
  font-size: 1.75rem;
  text-align: center;
  margin: 55px;
}
.main-content.home-page .reasons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 85%;
  margin: 0 auto 60px auto;
}
@media (max-width: 500px) {
  .main-content.home-page .reasons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.main-content.home-page .reasons .reason-to-use {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  width: 33%;
}
@media (max-width: 500px) {
  .main-content.home-page .reasons .reason-to-use {
    width: 80%;
    margin-bottom: 45px;
  }
}
.main-content.home-page .reasons .reason-to-use h3 {
  color: #ffffff;
  font-size: 1.25rem;
  margin: 30px auto 15px auto;
}
.main-content.home-page .reasons .reason-to-use i {
  color: #3dfaff;
  font-size: 3.5rem;
}
.main-content.home-page .reasons .reason-to-use p {
  color: #ffffff;
  line-height: 1.75;
  margin: auto;
  text-align: center;
}
footer {
  background: #006094;
  padding: 15px 0;
  font-size: 1.5rem;
}
footer .footer-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #e6e6e6;
  width: 100%;
  margin: auto;
}
footer .footer-content .icons {
  margin: auto;
}
footer .footer-content i {
  font-size: 2.5rem;
  color: #00b8bd;
  padding: 20px 20px;
}
