.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.main-content.home-page {
  .gradient-background-down();
  .custom-flex(column, center);

  h3 {
    .section-header();
  }

  .reasons {
    .custom-flex();
    width: 85%;
    margin: 0 auto 60px auto;

    @media @mobile {
      .custom-flex(column);
      align-items: center;
    }

    .reason-to-use {
      .custom-flex(column);
      align-items: center;
      margin: 0 15px;
      width: 33%;

      @media @mobile {
        width: 80%;
        margin-bottom: 45px;
      }

      h3 {
        color: lighten(@picton-blue, 50%);
        font-size: 1.25rem;
        margin: 30px auto 15px auto;
      }

      i {
        color: @electric-blue;
        font-size: 3.5rem;
      }
      p {
        color: lighten(@picton-blue, 50%);
        line-height: 1.75;
        margin: auto;
        text-align: center;
      }
    }
  }
}

.acts-done.home-page {
  .gradient-background-up();
  h3 {
    .section-header();
    margin: 0;
    padding: 50px;
  }

  .acts-images-holder {
    .custom-flex();
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    img {
      width: 30%;
      height: auto;
      margin: 10px;
      border-radius: 25px;
      box-shadow: 0px 15px 33px -12px rgba(68, 68, 68, 0.6);
    }
  }

  .acts-signup {
    .custom-flex();
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-bottom: 60px;
    padding-top: 25px;

    h3 {
      padding: 25px;
    }

    button {
      .basic-button();
    }
  }
}
