.custom-flex(@direction: row, @justify: center) {
  display: flex;
  justify-content: @justify;
  flex-direction: @direction;
}

.gradient-background() {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48beff+0,48beff+29,3dfaff+100 */
  background: #48beff; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #48beff 0%,
    #48beff 29%,
    #3dfaff 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #48beff 0%,
    #48beff 29%,
    #3dfaff 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #48beff 0%,
    #48beff 29%,
    #3dfaff 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48beff', endColorstr='#3dfaff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
