.custom-flex(@direction: row, @justify: center) {
  display: flex;
  justify-content: @justify;
  flex-direction: @direction;
}

.gradient-background-down() {
  background: rgb(72, 190, 255);
  background: linear-gradient(
    140deg,
    rgba(72, 190, 255, 1) 0%,
    rgba(61, 250, 255, 1) 100%
  );
}

.gradient-background-up() {
  background: rgb(61, 250, 255);
  background: linear-gradient(
    240deg,
    rgba(61, 250, 255, 1) 0%,
    rgba(72, 190, 255, 1) 100%
  );
}

.section-header() {
  color: white;
  font-size: 1.75rem;
  text-align: center;
  margin: 55px;
}

.basic-button() {
  border-radius: 15px;
  border: 1.5px solid white;
  outline: none;
  padding: 15px 35px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: @picton-blue;
}
