.container {
  padding: 0;
}

#carouselExampleControls {
  width: 90%;
}
.container-top {
  background: linear-gradient(135deg, #48beff 0%, #48beff 29%, #3dfaff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48beff', endColorstr='#3dfaff', GradientType=1);
  display: flex;
  width: 100%;
  align-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: white;
  @media @mobile {
    align-items: center;
    width: 100%;
  }
}

.main-content h1 {
  .section-header();
  font-size: 50px;

  @media @mobile {
    font-size: 40px;
    padding: 15px;
    margin-left: 10%;
  }

  @media @tablet {
    .section-header();
    font-size: 40px;
  }
}

.main-content p {
  .section-header();
  font-size: 25px;

  @media @tablet {
    .section-header();
    font-size: 20px;
  }
}

/* CSS talk bubble */
.talk-bubble {
  display: inline-block;
  align-content: center;
  position: relative;
  width: 35%;
  height: auto;
  color: black;
  border: 10px solid !important;
  border-color: gray !important;
  background-color: yellow;
  margin-left: 35%;

  @media @mobile {
    width: 91.5%;
    margin: 5%;
  }

  @media @tablet {
    width: 91.5%;
    margin: 5%;
  }
}

.carousel-item {
  padding: 70px 0;

  @media @mobile {
    padding: 30px;
  }

  @media @tablet {
    padding-top: 10px;
  }
}

.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}

h4 {
  font-weight: bold;
}

.talktext p {
  padding: 10px;
}

.customer-img {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-content: center;

  img {
    width: 275px;
    @media @mobile {
      width: 350px;
    }
  }
}

.tri-right.border.btm-left-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 transparent transparent #666;

  @media @mobile {
    display: none;
  }
}
.tri-right.btm-left-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -30px;
  border: 12px solid;
  border-color: #666 transparent transparent #666;

  @media @mobile {
    display: none;
  }
}

.contact-right {
  .custom-flex();
  flex-direction: column;
  background-color: @picton-blue;
  color: black;
  margin: 92px auto;
  padding: 10px;
  align-content: center;
  border-radius: 10px;
  box-shadow: 0px 15px 33px -9px @dark-blue-shadow;

  @media @mobile {
    width: 100%;
  }

  h4 {
    text-align: center;
    font-size: 25px;

    @media @tablet {
      text-align: center;
      padding: 20px;

      @media @mobile {
        text-align: center;
      }

      @media @tablet {
        text-align: center;
      }
    }
    .review-form {
      .custom-flex();
      flex-wrap: wrap;
      width: 100%;
      margin-top: 20px;
      padding: 35px;
      padding-bottom: 10px;
      border-radius: 10px;
      box-shadow: 0px 15px 33px -9px @dark-blue-shadow;
      input {
        padding-bottom: 20px;
        margin: 10px;

        .review-input {
          width: 38%;
          padding: 20px;
          margin: auto;
          .form-item-styling();
          font-family: "Montserrat", sans-serif;
        }
      }

      .review-textarea {
        width: 87%;
        padding: 25px;
        margin-top: 15px;
        .form-item-styling();
        resize: none;
      }

      :focus {
        font-family: "Montserrat", sans-serif;
      }
      ::placeholder {
        font-family: "Montserrat", sans-serif;
      }
      .submit {
        .basic-button();
        margin: 25px;

        @media @tablet {
          cursor: pointer;
        }
      }
    }
  }
}
